.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    background-color: #E9E9E9;
}

@media (min-width: 768px) {
    #HomeButtonContainer {
        margin: 150px auto 0 auto;
    }
}

@media (max-width: 768px) {
    #HomeButtonContainer {
        margin: 50px auto 0 auto;
    }
}

#HomeButtonContainer {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 700px;
    padding: 50px 25px 25px 25px;
}

.console-type-btn {
    width: 300px;
    height: 300px;
    margin: 25px 10px;
    font-size: 300%;
}