.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    background-color: #3C3F41;
}

textarea {
    resize: vertical;
}

@media (min-width: 768px) {
    #HomeButtonContainer {
        margin: 150px auto 0 auto;
    }
}

@media (max-width: 768px) {
    #HomeButtonContainer {
        margin: 50px auto 0 auto;
    }
}

#HomeButtonContainer {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 700px;
    padding: 50px 25px 25px 25px;
}

.console-type-btn {
    width: 300px;
    height: 300px;
    margin: 25px 10px;
    font-size: 300%;
}

#Console {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#Console .container {
    padding: 0;
}

#Console .row {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0;
}

#Console .row > * {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#Console .agent-list {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    margin-bottom: 10px;
}

#Console .log {
    display: flex;
    flex-flow: column;
    flex: 0 0 200px;
    margin-bottom: 20px;
}

#Console .header {
    flex-shrink: 0;
    background-color: #424D5F;
    color: #BBBBBB;
    font-size: 150%;
    padding: 5px 10px;
}

#Console .content {
    flex-grow: 1;
    background-color: #2B2B2B;
    color: #6897BB;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}


