<div class="p-20">
    <h2>Run new Agent</h2>

    <div class="input-group input-container tm-5">
        <span class="input-group-addon input-description-135" id="name-edit">Name</span>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="name-edit" ng-model="name"/>
    </div>

    <uib-alert type="danger" ng-if="alertMessage">{{alertMessage}}</uib-alert>

    <div class="tm-10" style="height: 35px">
        <button type="button" class="btn btn-default pull-right" ng-click="runAgent()">
            <span class="glyphicon glyphicon-save"></span>Run agent
        </button>
        <button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span
                class="glyphicon glyphicon-remove"></span>Close
        </button>
    </div>
</div>